//colors
$highlight-color: #bac64a;
$highlight-shadow: #98A23D;
$background-color: #F4F2EE;
$text-color: #474747;
$sidebar-color: #edebe4;
$create-color: #cccccc;
$btn-color: #87CEFA;
$btn-shadow: #54aec1;
$overlay-color: rgba(135, 206, 250, 0.5);
